html {
  background: url('https://i.imgur.com/h39ayac.jpg');
  background-size:cover;
}

body {
  background: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

h1, h2, form, p {
  color: #417dc1;
  text-align: center;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}

button, input {
  color: #417dc1;
}

div {
  padding-top: 30px;
  padding-bottom: 10px;
}

p {
  padding-top: 10px;
}
